


body {

    background-color: rgb(235, 235, 235);
}


.footer {
    position: absolute;
    bottom: 0;
    left: 0;
}

#username-check {
    position: absolute;
    right: 27px;
    top: 92px;
    visibility: hidden;
}

#username-close {
    position: absolute;
    right: 30px;
    top: 92px;
    visibility: hidden;
}

#password-check {
    position: absolute;
    right: 27px;
    top: 187px;
    visibility: hidden;
}

#password-close {
    position: absolute;
    right: 30px;
    top: 187px;
    visibility: hidden;
}